language: python

python:
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"
  - "3.11"

install:
  - pip install -r requirements.txt
  - pip install -r test_requirements.txt
  - pip install -U importlib_metadata
  - pip install .

script:
  - pytest